// Global Stylesheet

// Color Palette
$primary-color: gold;
$secondary-color: dodgerblue;
$tertiary-color:azure;
$quarternary-color:#f00a0a;


// Typography

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
    border: 5px solid $quarternary-color;
}

body{
    background-color: $secondary-color;
    background-image: image(/img/pikasilhouette.png);
    background-repeat: space;
}

h3{
    border: 3px solid $quarternary-color;
}



h1,aside, article, footer{
    color: $primary-color;
}
.pokemon {
    width: 8%;
    height: 50%;
    margin: 10px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 3px dotted $primary-color;
}
#spinning{
    height: 50%;
    width: 100%;
}
#pika-stance:hover{
    transform: scale(1.2);
}


a {  
    background: -webkit-linear-gradient(#f00a0a, #f0ffff);  
    background: -moz-linear-gradient(#f00a0a, #f0ffff);  
    background: -o-linear-gradient(#f00a0a, #f0ffff);  
    background: linear-gradient(#f00a0a, #f0ffff);  
  
    -webkit-transition: background .5s ease-out;  
    -moz-transition: background .5s ease-out;  
    -o-transition: background .5s ease-out;  
    transition: background .5s ease-out;  
  
    background-size:1px 200px;  
    border-radius: 10px;  
    border: 1px solid #839DB0;  
    cursor:pointer;  
    width: 150px;  
    height: 100px;  
}

a:link{
color: $primary-color;
    text-decoration: none;
    
}
a:visited{
    color: $tertiary-color;
}
a:hover{
    background-position:100px;
}
