// Global Stylesheet

// Color Palette
$primary-color: gold;
$secondary-color: dodgerblue;

// Typography

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}

body{
    background: $secondary-color;
}

h1,aside, article{
    color: $primary-color;
}
a:link{
color: $primary-color;
    text-decoration: none;
    
}
